*.class
*.ctxt

doc/

bluej.pkg
bluej.pkh

.DS_Store
Thumbs.db

.idea/
.vscode/

images/aseprite/
images/UIAll/
images/tileCreator.html

images/Game/Tiles/TilemapConstructor.bat
images/Game/Tiles/TilemapConstructor.html
images/Game/Tiles/errortile.png
images/Game/Tiles/debug.png